---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Astro landing';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>sub title</h2>
</BaseLayout>
<style>
  h1 {
    color: orange;
  }
</style>
